<% content_for(:title) { "Changes to #{ @page.title }" } %>
<% @layout_class = "books" %>

<% content_for :header do %>
  <nav>
    <%= link_to edit_leafable_path(@page.leaf), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <div class="breadcrumbs flex-item-justify-start">
      <%= link_to root_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <%= link_to @page.book.title, @page.book %> ▸
      <strong><%= @page.title %></strong>
    </div>
  </nav>
<% end %>

<div class="library">
  <section class="txt-align-start">
    <%= turbo_frame_tag :previous_version do %>
      <header class="flex align-center justify-center gap">
        <% if @edit.previous %>
          <%= link_to page_edit_path(@page, @edit.previous), class: "btn btn--reversed txt-small" do %>
            <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Previous version</span>
          <% end %>
        <% else %>
          <span class="btn btn-reversed txt-small" disabled>
            <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Previous version</span>
          </span>
        <% end %>

        <h2 class="btn btn--reversed txt-medium margin-none overflow-ellipsis">
          <%= time_ago_in_words(@edit.created_at) %> ago
        </h2>

        <% if @edit.next %>
          <%= link_to page_edit_path(@page, @edit.next), class: "btn btn--reversed txt-small" do %>
            <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Next version</span>
          <% end %>
        <% else %>
          <span class="btn btn-reversed txt-small" disabled>
            <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Next version</span>
          </span>
        <% end %>
      </header>

      <%= @edit.page.body.to_html %>
    <% end %>
  </section>

  <section class="txt-align-start">
    <header class="flex align-center gap justify-center">
      <%= link_to edit_leafable_path(@page.leaf), class: "btn btn--positive txt-medium center margin-none" do %>
        Current
      <% end %>
    </header>

    <%= @page.body.to_html %>
  </section>
</div>
