<div class="flex align-center gap-half pad-inline">
  <span class="overflow-ellipsis"><%= user.name %></span>
  <hr class="flex-item-grow margin-none">

  <% if Current.user.can_administer? && user != Current.user %>
    <%= form_with model: user, url: user_path(user), data: { controller: "form" }, method: :patch do | form | %>
      <label class="btn txt-small flex-item-no-shrink" for="<%= dom_id(user, :role) %>">
        <span class="for-screen-reader">Role: <%= user.administrator? ? "Administrator" : "Member" %></span>
        <%= image_tag "crown.svg", size: 24, aria: { hidden: "true" } %>
        <%= form.check_box :role, { data: { action: "form#submit" }, hidden: true, id: dom_id(user, :role) }, "administrator", "member" %>
      </label>
    <% end %>

    <%= button_to user_path(user), method: :delete, class: "btn btn--negative txt-small flex-item-no-shrink", data: {
          turbo_confirm: "Are you sure you want to permanently remove this person from the account? This can’t be undone."} do %>
      <%= image_tag "minus.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Remove <%= user.name %> from the account</span>
    <% end %>
  <% end %>
</div>
