<% content_for(:title) { "Edit #{ @section.title }" } %>

<% content_for :header do %>
  <nav>
    <%= link_to_previous_leafable(@leaf, hotkey: false, for_edit: true) %>

    <div class="breadcrumbs">
      <%= link_to root_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <%= link_to @book.title, @book %> ▸
      <strong><%= @section.title %></strong>
    </div>

    <button class="btn flex-item-justify-end" data-action="fullscreen#toggle" data-fullscreen-target="button">
      <%= image_tag "expand.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Enter fullscreen</span>
    </button>
  </nav>
<% end %>

<% content_for :toolbar do %>
  <div class="page-toolbar fill-selected gap margin-block-end-double">
    <%= editing_mode_toggle_switch(@leaf, checked: true) %>

    <span class="separator margin-inline-half" aria-hidden="true"></span>

    <label class="btn txt-small">
      <%= hidden_field_tag "section[theme]", nil, id: nil, form: "section-editor" %>
      <%= check_box_tag "section[theme]", "dark", @section.theme.present?, class: "switch__input", form: "section-editor" %>
      <%= image_tag "theme-switch.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Change theme</span>
    </label>

    <span class="separator margin-inline-half" aria-hidden="true"></span>

    <button type="submit" form="section-editor" class="btn flex page-toolbar__save flex-item-justify-end flex-item-no-shrink txt-small">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </div>
<% end %>

<div class="page--section <%= "theme--dark" if @section.theme == "dark" %>">
  <%= render "sections/form", book: @book, section: @section %>
</div>

<%= render "leaves/edit_footer", leaf: @leaf %>
