<li class="toc__leaf toc__leaf--<%= leaf.leafable_name %> <%= local_assigns[:css_class] %>" id="<%= dom_id(leaf) %>">
  <%= image_tag "handle.svg", aria: { hidden: true }, size: 24, class: "toc__handle" %>

  <%= link_to leafable_path(leaf), class: "toc__thumbnail", target: "_top" do %>
    <%= leaf.title if leaf.leafable.is_a?(Section) %>
    <%= leaf.leafable.body if leaf.leafable.is_a?(Page) %>
    <%= image_tag leaf.leafable.image.variant(:large) if leaf.leafable.is_a?(Picture) && leaf.leafable.image.attached? %>
  <% end %>

  <%= link_to leafable_path(leaf), class: "toc__title min-width", target: "_top" do %>
    <span class="overflow-ellipsis"><%= leaf.title %></span>
  <% end %>

  <small class="toc__wordcount translucent">
    <% if leaf.leafable.is_a?(Page) %>
      <%= word_count(leaf.leafable.body) %>
    <% end %>
  </small>

  <button class="btn btn--plain" hidden>
    <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Edit</span>
  </button>

  <%= yield if block_given? %>
</li>
