<% content_for(:title) { "Edit #{ @page.title }" } %>
<% @layout_class = "page" %>

<% content_for :header do %>
  <nav>
    <%= link_to leafable_path(@leaf), class: "btn flex-item-justify-start" do %>
      <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Cancel</span>
    <% end %>

    <div class="breadcrumbs ">
      <%= form_with model: [ @book, @page ], class: "flex align-center gap-half", format: :html do |form| %>
        <%= form.text_field :title, class: "input full-width" %>
      <% end %>
    </div>

    <button type="submit" form="page-editor" class="btn flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </nav>
<% end %>

<article class="layout--reading">
  <%= render "pages/form", book: @book, page: @page %>
</article>

<% content_for :footer do %>
  <nav>
    <button type="button" class="btn flex-item-justify-end">
      <%= image_tag "text-bold.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: bold</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-italic.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: italic</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-quote.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: quote</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-code.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: code</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-bullets.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: bulleted list</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-numbers.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text style: numbered list</span>
    </button>
    <button type="button" class="btn">
      <%= image_tag "text-image.svg", aria: { hidden: "true" }, size: "30" %>
      <span class="for-screen-reader">Text add image</span>
    </button>

    <span class="flex-item-justify-end">
      <%= render "leaves/delete", leaf: @leaf %>
    </span>
  </nav>
<% end %>
