<% content_for(:title) { "Edit #{ @page.title }" } %>

<% content_for :header do %>
  <nav>
    <%= link_to_previous_leafable(@leaf, hotkey: false) %>

    <div class="breadcrumbs">
      <%= link_to books_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <%= link_to @book.title, @book %> ▸
      <%= form_with model: [ @book, @leaf ], url: leafable_path(@leaf), class: "flex align-center gap-half", format: :html do |form| %>
        <strong><%= form.text_field :title, form: "page-editor", class: "input full-width", autocomplete: "off" %></strong>
      <% end %>
    </div>

    <button type="submit" form="page-editor" class="btn btn--positive flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </nav>
<% end %>

<article class="layout--reading">
  <%= render "house_toolbar" %>
  <%= render "pages/form", book: @book, page: @page %>
</article>

<% content_for :footer do %>
  <span class="flex justify-start">
    <%= render "leaves/delete", leaf: @leaf %>

    <span class="flex-item-justify-end flex-item-grow">
      <%= link_to_next_leafable(@leaf, hotkey: false) %>
    <span>
  </span>
<% end %>
