<% content_for(:title) { "Edit #{ @page.title }" } %>
<% @layout_class = "page" %>

<% content_for :header do %>
  <nav>
    <%= link_to leafable_path(@leaf), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Cancel and go back</span>
    <% end %>

    <div class="breadcrumbs">
      <%= link_to books_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <%= link_to @book.title, @book %> ▸
      <%= form_with model: [ @book, @page ], class: "flex align-center gap-half", format: :html do |form| %>
        <strong><%= form.text_field :title, class: "input full-width", autocomplete: "off" %></strong>
      <% end %>
    </div>

    <button type="submit" form="page-editor" class="btn btn--positive flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </nav>
<% end %>

<article class="layout--reading">
  <%= render "pages/form", book: @book, page: @page %>
</article>

<% content_for :footer do %>
  <%= house_toolbar id: "house_toolbar", class: "flex align-center" do %>
    <span class="flex-item-justify-start">
      <%= render "leaves/delete", leaf: @leaf %>
    </span>
    <%= house_button "bold" do %>
      <%= image_tag "text-bold.svg", aria: { hidden: "true" }, size: "16" %>
      <span class="for-screen-reader">Text style: bold</span>
    <% end %>
    <%= house_button "italic" do %>
      <%= image_tag "text-italic.svg", aria: { hidden: "true" }, size: "16" %>
      <span class="for-screen-reader">Text style: italic</span>
    <% end %>
    <%= house_button "strikethrough", class: "flex-item-justify-start" do %>
      <%= image_tag "text-strike.svg", aria: { hidden: "true" }, size: "16" %>
      <span class="for-screen-reader">Text style: strikethrough</span>
    <% end %>
  <% end %>
<% end %>
