<% content_for(:title) { "Edit #{ @page.title }" } %>

<% content_for :header do %>
  <nav>
    <%= link_to_previous_leafable(@leaf, hotkey: false, for_edit: true) %>

    <div class="breadcrumbs">
      <%= render "books/index_link" %>
      <span>▸</span>
      <%= link_to @book.title, @book %>
      <span>▸</span>
      <%= form_with model: [ @book, @leaf ], url: leafable_path(@leaf), class: "flex align-center gap-half flex-item-shrink", format: :html do |form| %>
        <strong class="min-width"><%= form.text_field :title, form: "page-editor", class: "input full-width", autocomplete: "off" %></strong>
      <% end %>
    </div>

    <button class="btn" data-action="fullscreen#toggle" data-fullscreen-target="button">
      <%= image_tag "expand.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Enter fullscreen</span>
    </button>
  </nav>
<% end %>

<% content_for :toolbar do %>
  <div class="page-toolbar fill-selected align-center gap-half margin-block-end-double">
    <%= editing_mode_toggle_switch(@leaf, checked: true) %>

    <span class="separator margin-inline-half" aria-hidden="true"></span>

    <span class="overflow-y overflow-hide-scrollbar">
      <%= render "house_toolbar" %>
    </span>

    <span class="separator margin-inline-half" aria-hidden="true"></span>

    <%= render "leaves/history", leaf: @leaf %>

    <button type="submit" form="page-editor" class="btn flex page-toolbar__save flex-item-justify-end flex-item-no-shrink txt-small">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </div>
<% end %>

<article class="layout--reading">
  <%= render "leaves/being_edited_indicator", leaf: @leaf %>

  <%= render "pages/form", book: @book, page: @page %>
</article>

<%= render "leaves/edit_footer", leaf: @leaf %>
