<%= leaf_nav_tag(leaf) do %>
  <%= link_to_previous_leafable(leaf) %>

  <div class="breadcrumbs">
    <%= link_to public_book_path(book.slug), class: "btn borderless txt-small" do %>
      <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Home" %>
    <% end %>
    <span>▸</span>
    <%= link_to book.title, public_book_path(book.slug) %>
    <span>▸</span>
    <strong><%= leaf.leafable.title %></strong>
  </div>

  <button class="btn" data-action="fullscreen#toggle" data-fullscreen-target="button">
    <%= image_tag "expand.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Enter fullscreen</span>
  </button>
<% end %>
