<% content_for(:title) { "Edit #{@book.title}" } %>
<% @layout_class = "page" %>

<% content_for :header do %>
  <nav>
    <%= link_to @book, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Cancel and go back</span>
    <% end %>

    <button type="submit" form="book-editor", class="btn btn--positive flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save changes</span>
    </button>
  </nav>
<% end %>

<%= render "books/form", book: @book %>

<div class="border-radius center pad fill-shade flex flex-column gap margin-block-double">
  <%= render partial: "books/accesses/access", collection: @accesses, as: :user %>
</div>

<div class="flex flex-column justify-center txt-align-center margin-block-double">
  <%= button_to book_path(@book), method: :delete, class: "btn btn--negative center txt-medium",
        data: { turbo_confirm: "Are you sure you want to delete this book? It cannot be undone." } do %>
    <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
    <%= @book.title %>
  <% end %>
</div>
