<% content_for(:title) { "Library" } %>
<% @layout_class = "books" %>

<% content_for :header do %>
  <nav>
    <span class="btn btn--placeholder" aria-hidden="true"></span>

    <span class="product-logo--footer btn btn--plain txt-large flex-item-justify-end", target="_blank">
      <%= image_tag "app-icon-192.png", size: 24 %>
      <span class="for-screen-reader">Writebook</span>
    </span>

    <% if Current.user %>
      <%= link_to users_path, class: "btn flex-item-justify-end" do %>
        <%= image_tag "people.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Manage people</span>
      <% end %>
    <% else %>
      <%= link_to new_session_path, class: "btn flex-item-justify-end" do %>
        <%= image_tag "login-keys.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Sign in</span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<div class="library">
  <%= render @books %>
  <%= render "books/new" if Current.user %>
</div>
