<% content_for(:title) { @book.title } %>
<% @layout_class = "book" %>

<% content_for :header do %>
  <nav>
    <%= link_to books_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <div class="breadcrumbs">
      <%= link_to books_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <strong><%= @book.title %></strong>
    </div>

    <% if Current.user.can_administer? %>
      <%= link_to book_accesses_path(@book), class: "btn flex-item-justify-end" do %>
        <%= image_tag "people.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Mange access</span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<aside class="txt-align-center">
  <%= image_tag @book.cover.attached? ? @book.cover : "default-cover.webp", alt: "Book cover", class: "book__cover margin-none" %>

  <div class="flex flex-column gap margin-block-start pad fill-shade border-radius">
    <div class="flex align-center justify-center gap-half center">
      <%= image_tag "lock.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>

      <label for="publication" class="switch txt-medium">
        <input type="checkbox" id="publication" class="switch__input" checked="checked">
        <span class="switch__btn round"></span>
        <span class="for-screen-reader">Publish this book</span>
      </label>

      <%= image_tag "world.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>
    </div>

    <%= render "public" %>
  </div>
</aside>

<%= arrangement_tag @book, class: "toc__container full-width txt-align-center" do %>
  <h1 class="txt-align-start margin-block-none flex flex-column gap txt-tight-lines" style="row-gap: 0.1lh;">
    <strong class="book__title flex align-center gap-half">
      <%= @book.title %>

      <div data-controller="popup" class="txt-medium">
        <button class="btn txt-small", data-action="popup#toggle">
          <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Edit book details</span>
        </button>

        <dialog class="dialog panel" data-popup-target="popup">
          <%= render "books/form", book: @book %>
          <div class="flex align-center gap margin-block-start">
            <form method="dialog" class="flex-item-justify-start">
              <button class="btn btn--negative txt-medium">
                <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
                <span class="for-screen-reader">Cancel and close</span>
              </button>
            </form>

            <button type="submit" form="book-editor", class="btn btn--positive txt-medium flex-item-justify-end">
              <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Save</span>
            </button>
          </div>
        </dialog>
      </div>
    </strong>
    <small class="txt-medium-container txt-normal"><%= @book.subtitle %></small>
    <small class="txt-medium-container txt-normal translucent"><%= @book.author %></small>
  </h1>

  <div class="book__toolbar flex gap-half fill-white" data-controller="toc-view" data-toc-view-id-value="<%= dom_id(@book) %>">
    <%= button_to [ @book, Page.new ], params: { page: { title: "Untitled"} }, class: "btn btn--plain txt-medium" do %>
      <%= image_tag "page-text-add.svg", aria: { hidden: true }, size: 48 %>
      <span class="for-screen-reader">Add a new text page</span>
    <% end %>

    <%= button_to [ @book, Picture.new ], params: { picture: { title: "Picture"} }, class: "btn btn--plain txt-medium" do %>
      <%= image_tag "page-picture-add.svg", aria: { hidden: true }, size: 48 %>
      <span class="for-screen-reader">Add a new picture page</span>
    <% end %>

    <%= button_to [ @book, Section.new ], params: { section: { title: "Section"} }, class: "btn btn--plain txt-medium flex-item-justify-start" do %>
      <%= image_tag "page-section-add.svg", aria: { hidden: true }, size: 48 %>
      <span class="for-screen-reader">Add a new section page</span>
    <% end %>

    <label class="btn txt-medium flex-item-justify-end">
      <input type="radio" name="view" id="toc-list" value="list" checked="checked" data-toc-view-target="switch" data-toc-view-type-value="list" data-action="toc-view#saveViewPref">
      <%= image_tag "view-list.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">List view</span>
    </label>

    <label class="btn txt-medium">
      <input type="radio" name="view" id="toc-grid" value="grid" data-toc-view-target="switch" data-toc-view-type-value="grid" data-action="toc-view#saveViewPref">
      <%= image_tag "view-grid.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Page view</span>
    </label>

    <label class="btn txt-medium flex-item-justify-end">
      <input type="checkbox" name="arrange-mode" id="arrange-mode" data-action="arrangement#setArrangeMode">
      <%= image_tag "rearrange.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Rearrange</span>
    </label>
  </div>

  <div class="position-relative margin-block-start">
    <div class="toc" tabindex="0" data-arrangement-target="container" data-action="<%= arrangement_actions %>">
      <%= turbo_frame_tag :leaves do %>
        <%= render partial: "leaves/leaf", collection: @leaves, as: :leaf %>
      <% end %>
    </div>

    <div data-arrangement-target="layer" class="toc"></div>
    <div data-arrangement-target="dragImage" class="arrangement-drag-image"></div>
  </div>
<% end %>
