<% content_for(:title) { @book.title } %>
<% @layout_class = "book" %>

<% content_for :header do %>
  <nav>
    <%= link_to books_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <div class="breadcrumbs">
      <%= link_to books_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <strong><%= @book.title %></strong>
    </div>

    <button class="btn txt-medium flex-item-justify-end">
      <%= image_tag "download.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Download</span>
    </button>

    <button class="btn txt-medium">
      <%= image_tag "share.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Share</span>
    </button>
  </nav>
<% end %>

<aside class="txt-align-center">
  <%= image_tag @book.cover.attached? ? @book.cover : "default-cover.svg", alt: "Book cover", class: "book__cover margin-none" %>

  <div class="flex-inline align-center gap center margin-block-start pad-inline pad-block-half fill-shade border-radius">
    <%= image_tag "lock.svg", aria: { hidden: true }, size: 36 %>

    <label for="publication" class="switch txt-medium">
      <input type="checkbox" id="publication" class="switch__input" checked="checked">
      <span class="switch__btn round"></span>
      <span class="for-screen-reader">Publish this book</span>
    </label>

    <%= image_tag "world.svg", aria: { hidden: true }, size: 36 %>
  </div>
</aside>

<div class="toc__container full-width">
  <h1 class="txt-xx-large margin-block-none flex flex-column gap" style="row-gap: 0.1lh;">
    <strong><%= @book.title %></strong>
    <small class="txt-normal txt-large txt-tight-lines"><%= @book.subtitle %></small>
    <small class="txt-normal txt-large translucent txt-tight-lines">by Author</small>
  </h1>

  <div class="flex gap-half">
    <%= link_to edit_book_path(@book), class: "btn txt-medium", hidden: true do %>
      <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <div data-controller="popup">
      <button class="btn txt-medium", data-action="popup#toggle">
        <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Edit book details</span>
      </button>

      <dialog class="dialog" data-popup-target="popup">
        <%= render "books/form", book: @book %>
        <div class="flex align-center gap margin-block-start">
          <button type="submit" form="book-editor", class="btn btn--positive txt-medium flex-item-justify-start">
            <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Save</span>
          </button>
          <form method="dialog" class="flex-item-justify-end">
            <button class="btn btn--negative txt-medium">
              <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Cancel and close</span>
            </button>
          </form>
        </div>
      </dialog>
    </div>

    <label class="btn txt-medium flex-item-justify-end">
      <input type="radio" name="view" id="toc-list" value="list" checked="checked">
      <%= image_tag "view-list.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">List view</span>
    </label>

    <label class="btn txt-medium">
      <input type="radio" name="view" id="toc-grid" value="grid">
      <%= image_tag "view-grid.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Page view</span>
    </label>
  </div>

  <ol class="toc">
    <% @leaves.each do |leaf| %>
      <li class="toc__leaf toc__leaf--<%= leaf.leafable_name%>" draggable="true">
        <%= image_tag "handle.svg", aria: { hidden: true }, size: 24, class: "toc__handle" %>

        <%= link_to leafable_path(leaf), class: "toc__thumbnail" do %>
          <%= leaf.title if leaf.leafable.is_a?(Section) %>
          <%= leaf.leafable.body if leaf.leafable.is_a?(Page) %>
          <%= image_tag leaf.leafable.image.variant(:large) if leaf.leafable.is_a?(Picture) %>
        <% end %>

        <%= link_to leafable_path(leaf), class: "toc__title" do %>
          <%= leaf.title %>
        <% end %>

        <small class="toc__wordcount translucent">
          <% if leaf.leafable.is_a?(Page) %>
            <%= word_count(leaf.leafable.body) %>
          <% end %>
        </small>

        <button class="btn btn--plain" hidden>
          <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Edit</span>
        </button>
      </li>
    <% end %>
  </ol>
</div>

<% content_for :footer do %>
  <div data-controller="popup dialog">
    <button class="btn btn--plain btn--reversed", data-action="popup#toggle">
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Add a new page</span>
    </button>

    <dialog id="new-page-picker" class="dialog page__picker" data-popup-target="popup" data-action="click->popup#close">
      <div class="flex align-center justify-center gap">
        <%= link_to new_book_page_path(@book), class: "btn btn--plain txt-x-large" do %>
          <%= image_tag "page-text.svg", aria: { hidden: true }, size: 48, class: "colorize--black" %>
          <span class="for-screen-reader">Add a new text page</span>
        <% end %>

        <%= link_to new_book_picture_path(@book), class: "btn btn--plain txt-x-large" do %>
          <%= image_tag "page-image.svg", aria: { hidden: true }, size: 48, class: "colorize--black" %>
          <span class="for-screen-reader">Add a photo page</span>
        <% end %>

        <%= link_to new_book_section_path(@book), class: "btn btn--plain txt-x-large" do %>
          <%= image_tag "page-chapter.svg", aria: { hidden: true }, size: 48, class: "colorize--black" %>
          <span class="for-screen-reader">Add a section</span>
        <% end %>
      </div>
    </dialog>
  </div>
<% end %>
