<% content_for(:title) { @book.title } %>
<% @layout_class = "book" %>

<% content_for :header do %>
  <nav>
    <%= link_to books_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <div class="breadcrumbs">
      <%= link_to books_path do %>
        <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
      <% end %> ▸
      <strong><%= @book.title %></strong>
    </div>

    <div data-controller="popup" class="flex-item-justify-end">
      <button class="btn txt-medium", data-action="popup#toggle">
        <%= image_tag "download.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Download</span>
      </button>

      <dialog class="dialog panel" data-popup-target="popup" data-action="click->popup#close">
        <div class="flex align-center justify-center gap" style="--column-gap: 4ch">
          <div class="flex flex-column justify-center">
            <button class="btn btn--plain txt-x-large center", data-action="popup#toggle">
              <%= image_tag "file-pdf.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Download</span>
            </button>
            <span><%= "#{ @book.title.parameterize }.pdf" %></span>
          </div>

          <div class="flex flex-column justify-center">
            <button class="btn btn--plain txt-x-large center", data-action="popup#toggle">
              <%= image_tag "file-mobi.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Download</span>
            </button>
            <span><%= "#{ @book.title.parameterize }.mobi" %></span>
          </div>

          <div class="flex flex-column justify-center">
            <button class="btn btn--plain txt-x-large center", data-action="popup#toggle">
              <%= image_tag "file-html.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Download</span>
            </button>
            <span><%= "#{ @book.title.parameterize }.html" %></span>
          </div>

          <div class="flex flex-column justify-center">
            <button class="btn btn--plain txt-x-large center", data-action="popup#toggle">
              <%= image_tag "file-epub.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Download</span>
            </button>
            <span><%= "#{ @book.title.parameterize }.epub" %></span>
          </div>
        </div>
      </dialog>
    </div>

    <button class="btn txt-medium">
      <%= image_tag "share.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Share</span>
    </button>
  </nav>
<% end %>

<aside class="txt-align-center">
  <%= image_tag @book.cover.attached? ? @book.cover : "default-cover.webp", alt: "Book cover", class: "book__cover margin-none" %>

  <div class="flex-inline align-center gap center margin-block-start pad-inline pad-block-half fill-shade border-radius">
    <%= image_tag "lock.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>

    <label for="publication" class="switch txt-medium">
      <input type="checkbox" id="publication" class="switch__input" checked="checked">
      <span class="switch__btn round"></span>
      <span class="for-screen-reader">Publish this book</span>
    </label>

    <%= image_tag "world.svg", aria: { hidden: true }, size: 36, class: "colorize--black" %>
  </div>
</aside>

<%= arrangement_tag @book, class: "toc__container full-width txt-align-center" do %>
  <h1 class="txt-align-start txt-xx-large margin-block-none flex flex-column gap" style="row-gap: 0.1lh;">
    <strong class="flex align-center gap-half">
      <%= @book.title %>

      <div data-controller="popup" class="txt-medium">
        <button class="btn txt-small", data-action="popup#toggle">
          <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Edit book details</span>
        </button>

        <dialog class="dialog panel" data-popup-target="popup">
          <%= render "books/form", book: @book %>
          <div class="flex align-center gap margin-block-start">
            <form method="dialog" class="flex-item-justify-start">
              <button class="btn btn--negative txt-medium">
                <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
                <span class="for-screen-reader">Cancel and close</span>
              </button>
            </form>

            <button type="submit" form="book-editor", class="btn btn--positive txt-medium flex-item-justify-end">
              <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Save</span>
            </button>
          </div>
        </dialog>
      </div>
    </strong>
    <small class="txt-normal txt-large txt-tight-lines"><%= @book.subtitle %></small>
    <small class="txt-normal txt-large translucent txt-tight-lines"><%= @book.author %></small>
  </h1>

  <div class="flex gap-half">
    <label class="btn txt-medium flex-item-justify-start">
      <input type="checkbox" name="arrange-mode" id="arrange-mode" data-action="arrangement#setArrangeMode">
      <%= image_tag "rearrange.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Rearrange</span>
    </label>

    <label class="btn txt-medium flex-item-justify-end">
      <input type="radio" name="view" id="toc-list" value="list" checked="checked">
      <%= image_tag "view-list.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">List view</span>
    </label>

    <label class="btn txt-medium">
      <input type="radio" name="view" id="toc-grid" value="grid">
      <%= image_tag "view-grid.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Page view</span>
    </label>
  </div>

  <div class="position-relative margin-block-start">
    <div class="toc" tabindex="0" data-arrangement-target="container" data-action="<%= arrangement_actions %>">
      <%= turbo_frame_tag :leaves do %>
        <%= render partial: "leaves/leaf", collection: @leaves, as: :leaf %>
      <% end %>
    </div>

    <div data-arrangement-target="layer" class="toc"></div>
    <div data-arrangement-target="dragImage" class="arrangement-drag-image"></div>

    <div class="page__picker flex-inline center align-center justify-center gap border-radius pad-block pad-inline-double">
      <div class="flex flex-column justify-center">
        <%= form_with model: [ @book, Page.new ] do |form| %>
          <%= form.hidden_field :title %>
          <label>
            <%= image_tag "page-text.svg", aria: { hidden: true }, size: 48 %>
            <%= tag.button class: "btn btn--positive center margin-block-start-half txt-small" do %>
              <%= image_tag "add.svg", aria: { hidden: true }, size: 48 %>
              <span class="for-screen-reader">Add a new text page</span>
            <% end %>
          </label>
        <% end %>
      </div>

      <div class="flex flex-column justify-center">
        <%= form_with model: [ @book, Picture.new ] do |form| %>
          <%= form.hidden_field :title %>
          <label>
            <%= image_tag "page-picture.svg", aria: { hidden: true }, size: 48 %>
            <%= tag.button class: "btn btn--positive center margin-block-start-half txt-small" do %>
              <%= image_tag "add.svg", aria: { hidden: true }, size: 48 %>
              <span class="for-screen-reader">Add a photo page</span>
            <% end %>
          </label>
        <% end %>
      </div>

      <div class="flex flex-column justify-center">
        <%= form_with model: [ @book, Section.new ] do |form| %>
          <%= form.hidden_field :title %>
          <label>
            <%= image_tag "page-section.svg", aria: { hidden: true }, size: 48 %>
            <%= tag.button class: "btn btn--positive center margin-block-start-half txt-small" do %>
              <%= image_tag "add.svg", aria: { hidden: true }, size: 48 %>
              <span class="for-screen-reader">Add a section page</span>
            <% end %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
